
*{
    padding:0px;
    margin:0px;
    font-family: "Rajdhani", sans-serif;
}

/*navbar section start now*/

.navbar{
    width:100%;
    padding: 30px 0px;
    background-color: #000518;
    background-image: linear-gradient(to right, #030c2e, #08144b);
    border-bottom: 1px solid #1e2647;
    position:relative;
}
.navbar .navbar-side{
    float: left;
    width:15%;

}
.navbar .navbar-middle{
    float: left;
    width:50%;

    
}
.navbar .navbar-right{
    float: left;
    width:35%;
}
.navbar .navbar-side .img-box{
    text-decoration: none;
    position: relative;
}
.navbar .navbar-side .img-box  .text{
    font-size:30px;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
    position: absolute;
    top:-10px;
    left:40px;
    
}
.navbar .navbar-middle .list-item ul li{
    list-style-type: none;
    float: left;
    margin: 0px 25px;
    position:relative;
   
}
.navbar .navbar-middle .list-item ul li::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color:#585b68;
    left:56px;
    transform: rotate(90deg);
    transition: all 500ms ease-in-out;

}
.navbar .navbar-middle .list-item ul .icon-not::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: none;
    font-weight: 900;
    color:#585b68;
    left:56px;
    transform: rotate(90deg);
    transition: all 500ms ease-in-out;

}
.navbar .navbar-middle .list-item ul li:hover::before{
    transform: rotate(270deg);
}
.navbar .navbar-middle .list-item ul li a{
    text-decoration: none;
    font-size: 17px;
    color:#ffffff;
    text-transform: capitalize;
    line-height: 1.5;
    font-weight: 600;
}

.navbar .navbar-right .contact ul li{
    float:left;
}
.navbar .navbar-right .contact ul li a{
    list-style-type: none;
    text-decoration: none;
    color:#ffffff;
    z-index: 2155;
    font-size:20px;
    font-weight: 600;

}
.navbar .navbar-right .contact ul li .call{
    padding:15px 15px;
    background-color: #ff4934;
    border-radius: 50%;
    margin-right:10px;
    font-size:20px;
  
}

/*navbar btn area now*/

.navbar .navbar-right .contact ul li .btn{
    width:160px;
    height:55px;
    padding-top:13px;
    padding-right:12px;
    background-color: #ff4934;
    margin-left:30px;
    margin-top:-12px;
    color:#ffffff;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    border: none;
    transition: width 500ms ease-in-out;
    border-radius: 10px;
    
   
}
.navbar .navbar-right .contact ul li .btn::after{
    content:'';
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:-180px;
    background-color:rgba(255,255,255,.2);
    transition: all 500ms ease-in;
}
.navbar .navbar-right .contact ul li .btn:hover::after{
    left:0px;
    
}
.navbar .navbar-right .contact ul li .btn:hover{
    width: 180px;
}
.navbar .navbar-right .contact ul li .btn::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    color:#585b68;
    left:120px;
    top:55px;
    color:#ffffff;
    transform: rotate(-0deg);
    transition: all 500ms ease-in-out;

}
.navbar .navbar-right .contact ul li .btn:hover::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    color:#585b68;
    left:140px;
    top:11px;
    color:#ffffff;
    transform: rotate(-45deg);
  
}
/*navbar btn area end now*/
.navbar .navbar-middle .list-item .single-title{
    position: relative;

}
.navbar .navbar-middle .list-item .single-title .list-item{
    position: absolute;
    left:-58px;
    top:64px;
    float: left;
    width:200px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#08154f;
    overflow: hidden;
    visibility: hidden;
    transition: all 400ms ease-in;
}
.navbar .navbar-middle .list-item .single-title:hover .list-item{
    visibility: visible;

}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area{
   display: flex;
   flex-direction: column;
   margin-top: 12px;
   transition: all 400ms ease-in;
}

.navbar .navbar-middle .list-item .single-title .list-item .icon-area:hover{
    transform: translateX(20px);
}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area::before{
    position: absolute;
    content: none;
}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area::after{
    position: absolute;
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 1000;
    left:-90px;
    color:#ffffff;
    transition: all 400ms ease-in;
}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area:hover::after{
    left:-25px;
}

/*navbar section End now*/


/*about company section start now*/
.about-company{
    padding: 150px 0px;
    width: 100%;
    background:url(../img-folder/about-page/about-background-img.png);
    background-position: center;
    margin-top:-3px;
}
.about-company .title {
    text-align: center;

}
.about-company .title h1{
    text-align: center;
    font-size: 46px;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 600;
}
.about-company .sub-title p{
    text-align: center;
    color:#ffffff;
    font-size:20px;
    text-transform: capitalize;
    font-weight: 500;
}
.about-company .sub-title p .text{
    color:#ff4934;
}
.about-company .shape{
    position:relative;

}
.about-company .shape img{
    position: absolute;
    top:-259px;
    left:64%;
}
/*about company section End now*/

/*blog-area start now*/
.blog {
    padding:100px 0px;
    padding-bottom: 380px;
    background-color: #000825;
    width:100%;
    
}

/*side blog area start now*/
.blog .search-btn{
    margin-top: -10px;
}
.blog .search-btn p{
    padding: 0px;
    font-size: 28px;
    color:#ffffff;
    font-weight: 600;
    text-transform: capitalize;
}
.blog .search-btn form input{
    width:100%;
    height:60px;
    background-color: #2b324b;
    color:#4f556a;
    font-size:16px;
    border-radius: 10px;
    padding-left:30px;
    font-family: "Roboto",sans-serif;
    border:none;
    outline: none;
}
.blog .category{
    margin-top:65px;
    margin-bottom: 40px;
}
.blog .category h1{
    color:#ffffff;
    font-size:28px;
    font-weight: 600;
    text-transform: capitalize;
}

/*catagory area*/
.blog .category-list h1{
    color:#ffffff;
    font-size:28px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.blog .category-item{
    width:100%;
    height:48px;
    border-bottom:1px solid #1a213b;
    display: inline-block;
    margin-top:15px;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color:#919191;
    transition: all 500ms ease;
}
.blog .category-item:hover{
    color:#ff4934;
}
.blog .category-item .category-arrow{
    position: absolute;
    right:0px;
    color:#ffffff;
    transition: all 500ms ease;
}
.blog .category-item:hover .category-arrow{
    color:#ff4934;
}
/*catagory area End*/

.blog .Recent-news{
    padding-top:30px;
    padding-bottom: 40px;
}
.blog .Recent-news h1{
    font-size: 28px;
    color:#ffffff;
    font-weight: 600;
    text-transform: capitalize;
}
.blog .recent-single{
    width:100%;
    margin-top: 50px;

}
.blog .recent-single .Recent-sub{
    width:30%;
    height: 80px;
    float:left;

    
}

.blog .recent-single .Recent-sub .Recent-sub-title{
    width:70%;
    height: 80px;
    display: flex;
    align-items: center;
    float: left;
}
.blog .recent-single .Recent-sub img{
    height:100px;
    width:100px;
    border-radius: 10px;
}
.blog .Recent-sub-title .text{
    display: flex;
    align-items: center;
    display: inline-block;
} 
.blog .Recent-sub-title .text p{
    font-size: 16px;
    color:#919191;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}
.blog .Recent-sub-title .text p::before{
    content: '';
    width:190px;
    height:1px;
    background-color: #ff4934;
    position: absolute;
    left:1px;
    top:33px

    
}
.blog .recent-title {
    margin-top: 10px;
    display: block;
    text-decoration: none;
}
.blog .recent-title h1{
    font-size: 20px;
    color:#ffffff;
    font-weight: bold;
}
.blog .tags-area{
    margin-top:-15px;
    
}
.blog .tags-area h3{
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
    color:#ffffff;
}
.blog .tags-area ul{
    padding:0px;
    padding-top:20px;
    margin-left: -8px;
}
.blog .tags-area ul li{
    list-style-type: none;
    float: left;
    margin:12px 10px;
}
.blog .tags-area ul li a{
    text-decoration: none;
    color:#ffffff;
    font-size:16px;
    font-family: "Roboto",sans-serif;
    width:110px;
    height:40px;
    border:1px solid #4d5367;
    border-radius: 8px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}
.blog .tags-area ul li a::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 8px;
    background-color: #ff4934;
    color:#ffffff;
    transform: scale(0,1);
    transition: all 500ms ease-in-out;
}
.blog .tags-area ul li a:hover::after{
    transform: scale(1,1);
    
}
.blog .tags-area ul li .zed{
    z-index: 45;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 600;
}
.blog .img-box img{
    height:499px;
    width:377px;
    border-radius: 10px;
    padding-top:30px;

}
/*side blog area end now*/

/*blog details section start now*/
.blog .img-area img{
    width: 93%;
    height:544px;
    border-radius: 10px;

}
.blog .details-title{
    padding-top:50px;
    padding-bottom: 60px;
}
.blog .details-title h3{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color:#ffffff;
}
.blog .detail-subtitle p{
    font-size: 16px;
    color:#919191;
    width: 96%;
    font-weight: 500;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
}
.blog .details-reomte{
    padding:40px 40px 30px 50px;
    width:93%;
    background-color: #30364e;
    margin-bottom: 60px;
}
.blog .details-reomte p{
    font-size: 18px;
    color:#919191;
    font-weight: 500;
    text-transform: capitalize;
}
.blog .details-reomte .qoute{
    position: relative;
}
.blog .details-reomte .qoute .quote-icon{
    position: absolute;
    font-weight: 600;
    text-transform: capitalize;
    color:#ff4934;
    left:295px;
    top:-46px;
    font-size: 40px;
}
.blog .details-reomte .ceo-title {
    margin-top:50px;
}
.blog .details-reomte .ceo-title h4{
    font-size:18px;
    color:#ff4934;
    font-weight: 600;
    text-transform: capitalize;

}
.blog .details-reomte .ceo-title p{
    font-size:16px;
    color:#919191;
    font-weight: 500;
    text-transform: capitalize;
    margin-top:-6px;

}
.blog .single-text{
    padding-top:26px;
}
.blog .single-text p{
    font-size: 16px;
    color:#919191;
    text-transform: capitalize;
    font-weight: 500;
    width:92%;
    font-family: "Roboto",sans-serif;
}
.blog .detail-tags{
    width:100%;
    float: left;
    margin-top:25px;
}
.blog .detail-tags .single-detais{
    width:70%;
    float: left;
}
.blog .detail-tags .single-detais-sub{
    width:30%;
    float: left;
}
.blog .detail-tags .single-detais .single-list ul{
    padding: 0;
    margin-left: -20px;
}
.blog .detail-tags .single-detais .single-list ul li{
    list-style-type: none;
    float: left;
    margin:0px 15px;
}
.blog .detail-tags .single-detais .single-list ul li .tags{
    color:#ffffff;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 600;
}
.blog .detail-tags .single-detais .single-list ul li a{
    width:128px;
    height: 40px;
    border-radius:8px;
    border:1px solid #4d5367;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    text-transform: capitalize;
    position: relative;
    z-index: 333;
}
.blog .detail-tags .single-detais .single-list ul li a::after{
    content:'';
    top:0px;
    left: 0px;
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 8px;
    color:#ffffff !important;
    background-color: #ff4934;
    z-index: -1;
    transform: scale(0,1);
    transition: all 500ms ease;
}
.blog .detail-tags .single-detais .single-list ul li a:hover::after{
   background-color: #ff4934;
   transform: scale(1,1);
}
.blog .single-detais-sub .contacts-details ul{
   padding-left: 0;
   margin-left: -13px;
}
.blog .single-detais-sub .contacts-details ul li{
    list-style-type: none;
    float: left;
    margin:0px 8px;
}
.blog .single-detais-sub .contacts-details ul li a{
    color:#ffffff;
    width: 46px;
    height: 38px;
    border-radius: 6px;
    border:1px solid #4d5367;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 22;
}
.blog .single-detais-sub .contacts-details ul li a::after{
    position: absolute;
    content:'';
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    background-color: #ff4934;
    font-size:18px;
    border-radius: 6px;
    transition: all 500ms ease;
    transform: scale(0,1);
    z-index: -1;
}
.blog .single-detais-sub .contacts-details ul li a:hover::after{
    background-color: #ff4934;
    transform: scale(1,1);

}
.blog .achive-date{
    padding-top:150px;
}
.blog .achive-date .single-achive{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.blog .achive-date .single-achive .sub-achives{
    width:30%;
    float: left;
}
.blog .achive-date .single-achive .sub-achivess{
    width:70%;
    text-decoration: none;
    float: left;
}
.blog .achive-date .single-achive .sub-achives img{
    width:100px;
    height: 100px;
    border-radius: 5px;
    
}
blog .achive-date .sub-achivess .text{
  
}
.blog .achive-date .sub-achivess .text p{
    font-size: 16px;
    color:#919191;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}
.blog .achive-date .sub-achivess .text p::after{
    content:'';
    position: absolute;
    width:60%;
    height:1px;
    top:30px;
    left: 1px;
    background-color: #ff4934;
}
.blog .achive-date .sub-achivess .title{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.blog .achive-date .sub-achivess .title h4{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
    padding-top:8px;
    text-decoration: none;
}
.blog  .comments{
    padding-top:60px;
    padding-bottom:20px;
    border:1px solid #1a213b;

}
.blog  .comments h3{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color:#ffffff;
}
.blog .review{
    width:100%;
    margin-top: 35px;
   
}
.blog .main-review{
    padding-top:160px;
    padding-left: 110px;
}
.blog .review .single-review{
    width:18%;
    float: left;
}
.blog .review .sub-review{
    width:82%;
    float: left;
}
.blog .review .single-review .img-review img{
    width:110px;
    height:110px;
    border:2px solid #ff4934;
    border-radius: 50%;
}
.blog .sub-review .title{
    padding-top:9px;
    padding-bottom: 20px;
}
.blog .sub-review .title h5{
    font-size: 19px;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 600;
}
.blog .single-title p{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color:#ffffff;
    width:90%;
    font-family: "Roboto",sans-serif;

    
}
.blog .reply-area a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color:#ff4934;
    position: relative;
}
.blog .reply-area a .reply-arrow{
    position: absolute;
    left:50px;
}
.blog .leave-title{
    padding-top:60px;

}
.blog .leave-title h4{
    color:#ffffff;
    font-weight: 600;
    font-size: 38px;
    text-transform: capitalize;
}
.blog .leave-title p{
    color:#919191;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    font-family:"Roboto",sans-serif;
}
.blog .details-list{
    width: 100%;
    height:60px;
    margin-top:18px;
}
.blog .details-list .single-email-box{
    width:50%;
    height:90px;
    float:left;
}
.blog .details-list .sub-text-box{
    width:50%;
    height:130px;
    float:left;
}
.blog .details-list form .single-email-box label{
    font-size: 16px;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 500;  

}
.blog .details-list form .single-email-box input{
    width:90%;
    float: left;
    height: 50px;
    background-color: #000825;
    color:#919191;
    border:1px solid #4d5367;
    border-radius: 6px;
    outline: none;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
}
.blog .details-list form .sub-text-box  input{
    width:90%;
    float: left;
    height: 50px;
    background-color: #000825;
    color:#919191;
    border:1px solid #4d5367;
    border-radius: 6px;
    outline: none;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
}
.blog .details-list form .sub-text-box label{
    font-size: 16px;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 500;  
}
.blog .details-list form .message-box label{
    font-size: 16px;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 500;  

}
.blog .details-list form .message-box textarea{
    width: 95%;
    border-radius:8px;
    height: 130px;
    background-color: #000825;
    color:#919191;
    padding: 20px 0px 0px 20px;
    outline: none;

}
.blog .details-list form .btn-area{
    margin: 36px 0px;
}
.blog .details-list form .btn-area button{
    width:152px;
    height: 50px;
    background-color: #ff4934;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color:#ffffff;
    border-radius: 6px;
    outline: none;
    border:none;
}

/*blog details section End now*/

/*subscribe section start now*/
.subscribe{
    padding:100px 0px;
    width:100%;
    background-color: #030c24;
    
}
.subscribe .null-button{
   position:relative;
}
.subscribe .null-button .null{
    position: absolute;
    width: 100%;
    top:100px;
    border-bottom:1px solid #293045;
}
.subscribe .title h3{
    font-size:46px;
    color:#ffffff;
    text-transform: capitalize;
}
.subscribe .title .text{
    font-size:16px;
    color:#818692;
    text-transform: capitalize;
}
.subscribe .btn .button{
    width:100%;
    height: 100px;
    background-color: red;
}
.subscribe .button{
    margin-top:6px;
    margin-left:190px;
}
.subscribe .button form .button-style{
    width:248px;
    height:65px;
    border-radius: 10px 0px 0px 10px;
    padding-left:26px;
    background-color: #ffffff;
    box-shadow: none;
    border:none;
}

.subscribe .button form .button-style:focus{
    outline: none !important;
    border:none !important;
    border-style: none;
    box-shadow: none;
}

.subscribe .button form .button-style::placeholder{
    color:#dddddd;
    font-size: 16px;

}
.subscribe .subscribe-btn{
    position:relative;
}
.subscribe .subscribe-btn::after{
    position: absolute;
    font-weight: 900;
    content:"\f061";
    font-family: "Font Awesome 5 Free";
    color:#ffffff;
    left:90%;
    top:-43px;

}
.subscribe .subscribe-btn a{
    position:absolute;
    left:430px;
    top:-65px;
    padding: 19.5px 55px;
    background-color: #e94231;
    color:#ffffff;
    text-decoration: none;
    font-size:18px;
    border-radius:8px 8px 5px 5px;
}
/*subscribe section End now*/

/*fotter section start now*/
.fotter{
    padding:100px 0px;
    background-color: #030b24;
    width:100%;
}
.fotter .side-bar {
    width:100%;
    height:100px;
}
.fotter .side-bar ul li{
    list-style-type: none;
    float: left;
    margin: 0px 8px;
}
.fotter .side-bar ul li a{
    text-decoration: none;
}
.fotter .side-bar ul li a img{
    margin-left:-35px;
}
.fotter .side-bar ul li a .text{
    font-size:30px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.fotter .sub-text p{
    color:#b4b6be;
    font-size: 16px;
    text-transform: capitalize;
    font-family:"Roboto",sans-serif;

}
.fotter .icon-add ul{
    padding-left:0px;
    margin-left: -18px;
}
.fotter .icon-add ul li{
    list-style-type: none;
    float: left;
    margin:10px 15px;
   
}
.fotter .icon-add ul li a{
    width:45px;
    height: 45px;
    border: 1px solid #22293f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#ffffff;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    
}
.fotter .icon-add ul li a .brands-icon{
   color: #ffffff;
   z-index: 44;
}
.fotter .icon-add ul li a::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    transform: scale(0,0);
    color:#ffffff;
    transition: all 500ms ease-in-out;

}
.fotter .icon-add ul li a:hover::before{
    background-color: #ff4934;
    transform: scale(1,1);
 
}

.fotter  .text {
    margin-top:30px;
}
.fotter  .text h1{
    font-size: 22px;
    color:#ffffff;
    text-transform: capitalize;
}
.fotter .company-title ul{
    padding-left: 23px;
    padding-top:20px;
    
}
.fotter .company-title ul li{
    list-style-type: none;
    margin:16px 0px;
}


.fotter .company-title ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#b4b6be;
    text-transform: capitalize;
    font-family: "Roboto"sans-serif;
    position: relative;
    transition: all 200ms ease-in;
}
.fotter .company-title ul li a:hover{
    color:#ff4934;
}
.fotter .company-title ul li a::after{
    position: absolute;
    content:"\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position:absolute;
    top:-4px;
    left:-25px;
    transition: all 200ms ease-in;

}
.fotter .company-title ul li a:hover::after{
    color:#ff4934;
}

.fotter .contacts-info ul{
    width:70%;
    padding-left: 30px;
    margin-top:45px;
}
.fotter .contacts-info ul li{
    list-style-type: none;
    color:#b4b6be;
    margin:20px 0px;
    position: relative;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    position: relative;
    transition: all 500ms ease-in-out;


}
.fotter .contacts-info ul li:hover{
    color: #ff4934;
}
.fotter .contacts-info ul li .location-icon{
    position: absolute;
    font-size:25px;
    color:#ffffff;
    top:0px;
    left:-32px;
    transform: rotate(-10deg);
    transition: all 500ms ease-in-out;
}
.fotter .contacts-info ul li:hover .location-icon{
    color: #ff4934;
}
.fotter .contacts-info ul li .email-icon{
    position: absolute;
    font-size:18px;
    color:#ffffff;
    top:1px;
    left:-32px;
    transition: all 500ms ease-in-out;
}
.fotter .contacts-info ul li:hover .email-icon{
    color: #ff4934;
}
.fotter .contacts-info ul li .twitter{
    position: absolute;
    font-size:18px;
    color:#ffffff;
    top:1px;
    left:-32px;
    transition: all 500ms ease-in-out;
}
.fotter .contacts-info ul li:hover .twitter{
    color: #ff4934;
}
/*fotter section End now*/

/*company logo*/
.company-logo{
    width: 100%;
    padding:25px 0px;
    background-color:#030b24;
    border-top: 1px solid #1c263a;
}
.company-logo .brands-text{
    text-align: center;
}
.company-logo .brands-text a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    color:#818592;
}
.company-logo .brands-text .text{
     text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    color:#818592;
}
/*company log end*/
