
*{
    padding:0px;
    margin:0px;
    font-family: "Rajdhani", sans-serif;
}

/*navbar section start now*/

.navbar{
    width:100%;
    padding: 30px 0px;
    background-color: #000518;
    background-image: linear-gradient(to right, #030c2e, #08144b);
    border-bottom: 1px solid #1e2647;
    position:relative;
}
.navbar .navbar-side{
    float: left;
    width:15%;

}
.navbar .navbar-middle{
    float: left;
    width:50%;

    
}
.navbar .navbar-right{
    float: left;
    width:35%;
}
.navbar .navbar-side .img-box{
    text-decoration: none;
    position: relative;
}
.navbar .navbar-side .img-box  .text{
    font-size:30px;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
    position: absolute;
    top:-10px;
    left:40px;
    
}
.navbar .navbar-middle .list-item ul li{
    list-style-type: none;
    float: left;
    margin: 0px 25px;
    position:relative;
   
}
.navbar .navbar-middle .list-item ul li::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color:#585b68;
    left:56px;
    transform: rotate(90deg);
    transition: all 500ms ease-in-out;

}
.navbar .navbar-middle .list-item ul .icon-not::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: none;
    font-weight: 900;
    color:#585b68;
    left:56px;
    transform: rotate(90deg);
    transition: all 500ms ease-in-out;

}
.navbar .navbar-middle .list-item ul li:hover::before{
    transform: rotate(270deg);
}
.navbar .navbar-middle .list-item ul li a{
    text-decoration: none;
    font-size: 17px;
    color:#ffffff;
    text-transform: capitalize;
    line-height: 1.5;
    font-weight: 600;
}

.navbar .navbar-right .contact ul li{
    float:left;
}
.navbar .navbar-right .contact ul li a{
    list-style-type: none;
    text-decoration: none;
    color:#ffffff;
    z-index: 2155;
    font-size:20px;
    font-weight: 600;

}
.navbar .navbar-right .contact ul li .call{
    padding:15px 15px;
    background-color: #ff4934;
    border-radius: 50%;
    margin-right:10px;
    font-size:20px;
  
}

/*navbar btn area now*/

.navbar .navbar-right .contact ul li .btn{
    width:160px;
    height:55px;
    padding-top:13px;
    padding-right:12px;
    background-color: #ff4934;
    margin-left:30px;
    margin-top:-12px;
    color:#ffffff;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    border: none;
    transition: width 500ms ease-in-out;
    border-radius: 10px;
    
   
}
.navbar .navbar-right .contact ul li .btn::after{
    content:'';
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:-180px;
    background-color:rgba(255,255,255,.2);
    transition: all 500ms ease-in;
}
.navbar .navbar-right .contact ul li .btn:hover::after{
    left:0px;
    
}
.navbar .navbar-right .contact ul li .btn:hover{
    width: 180px;
}
.navbar .navbar-right .contact ul li .btn::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    color:#585b68;
    left:120px;
    top:55px;
    color:#ffffff;
    transform: rotate(-0deg);
    transition: all 500ms ease-in-out;

}
.navbar .navbar-right .contact ul li .btn:hover::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    color:#585b68;
    left:140px;
    top:11px;
    color:#ffffff;
    transform: rotate(-45deg);
  
}
/*navbar btn area end now*/
.navbar .navbar-middle .list-item .single-title{
    position: relative;

}
.navbar .navbar-middle .list-item .single-title .list-item{
    position: absolute;
    left:-58px;
    top:64px;
    float: left;
    width:200px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#08154f;
    overflow: hidden;
    visibility: hidden;
    transition: all 400ms ease-in;
}
.navbar .navbar-middle .list-item .single-title:hover .list-item{
    visibility: visible;

}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area{
   display: flex;
   flex-direction: column;
   margin-top: 12px;
   transition: all 400ms ease-in;
}

.navbar .navbar-middle .list-item .single-title .list-item .icon-area:hover{
    transform: translateX(20px);
}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area::before{
    position: absolute;
    content: none;
}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area::after{
    position: absolute;
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 1000;
    left:-90px;
    color:#ffffff;
    transition: all 400ms ease-in;
}
.navbar .navbar-middle .list-item .single-title .list-item .icon-area:hover::after{
    left:-25px;
}

/*navbar section End now*/

/*about company section start now*/
.about-company{
    padding: 150px 0px;
    width: 100%;
    background:url(../img-folder/about-page/about-background-img.png);
    background-position: center;
    margin-top:-3px;
}
.about-company .title {
    text-align: center;

}
.about-company .title h1{
    text-align: center;
    font-size: 46px;
    color:#ffffff;
    text-transform: capitalize;
    font-weight: 600;
}
.about-company .sub-title p{
    text-align: center;
    color:#ffffff;
    font-size:20px;
    text-transform: capitalize;
    font-weight: 500;
}
.about-company .sub-title p .text{
    color:#ff4934;
}
.about-company .shape{
    position:relative;

}
.about-company .shape img{
    position: absolute;
    top:-259px;
    left:64%;
}
/*about company section End now*/

/*contacts area start now*/
.contacts-area{
    padding:100px 0px;
    background-color: #020c33;
    width:100%;

}
.contacts-area .img-box img{
    width:531px;
    height: 680px;
    border-radius: 10px;
}
.contacts-area .contacts-title h2{
    font-size: 38px;
    font-weight: 500;
    text-transform: capitalize;
    color:#ffffff;
}
.contacts-area .contacts-title p{
    color: #919191;
    font-size: 16px;
    text-transform: capitalize;
    font-family:"Roboto",sans-serif;
}
.contacts-area .contact-list{
    margin-top:75px;
}
.contacts-area .contact-list form label{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color:#ffffff;
}
.contacts-area .contact-list form input{
    width:100%;
    height: 60px;
    border:1px solid #1a213b;
    padding-left:25px;
    border-radius: 8px;
    background-color: #020c33;
    font-family:"Roboto",sans-serif;
    outline: none;
    color:#919191;
}
.contacts-area .contact-list form textarea{
    width:100%;
    height: 60px;
    border:1px solid #1a213b;
    padding-left:20px;
    border-radius: 8px;
    background-color: #020c33;
    color:#919191;
    padding-top:10px;
    outline: none;
    font-family:"Roboto",sans-serif;
    
}
.contacts-area .contact-list form textarea::placeholder{
    color:#919191;
    font-size: 16px;
    font-weight: 600;

}

.contacts-area .contact-list form button{
    width:150px;
    height:50px;
    background-color:#ff4934;
    color:#ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;

}
.contacts-area .contact-list form button::after{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    content:'';
    top:0px;
    left:-150px;
    background-color:rgba(255,255,255,.2);
    transition: all 400ms ease-in;
}
.contacts-area .contact-list form button:hover::after{
    left:0px;
}
.contacts-area .contact-list form button::before{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    content:'';
    top:0px;
    right:-150px;
    background-color:rgba(255,255,255,.2);
    transition: all 400ms ease-in;
}
.contacts-area .contact-list form button:hover::before{
    right:0px;
}
/*contacts area End now*/

/*social section start now*/
.soical-contacts{
    padding:100px 0px;
    background-color: #000826;
    width:100%;

}
.soical-contacts .social-sub{
    width:100%;
    height:150px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    transition: all 500ms ease-in-out;
  
}
.soical-contacts .social-sub:hover{
    background-color: #1a213c;

}
.soical-contacts .social-sub .contatcs-title{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.soical-contacts .social-sub .contatcs-title a{
    color:#ffffff;
    font-size: 26px;
    width:71px;
    height:71px;
    background-color: #ff4934;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.soical-contacts .social-sub .contatcs-title a .whatsapp-icon{
    font-size: 30px;
}
.soical-contacts .social-sub .contatcs-ares{
    width: 60%;
    float: left;
}
.soical-contacts .social-sub .contatcs-ares{
    margin-left:-16px;
}
.soical-contacts .social-sub .contatcs-ares .link-area a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    color:#ff4934;
    text-transform: capitalize;
}
.soical-contacts .social-sub .contatcs-ares .hotline{
    margin-top:5px;
}
.soical-contacts .social-sub .contatcs-ares .hotline .text{
    font-size: 20px;
    color:#ffffff;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    
}
/*social section End now*/



/*subscribe section start now*/
.subscribe{
    padding:100px 0px;
    width:100%;
    background-color: #030c24;
    
}
.subscribe .null-button{
   position:relative;
}
.subscribe .null-button .null{
    position: absolute;
    width: 100%;
    top:100px;
    border-bottom:1px solid #293045;
}
.subscribe .title h3{
    font-size:46px;
    color:#ffffff;
    text-transform: capitalize;
}
.subscribe .title .text{
    font-family:"Roboto",sans-serif;
    font-size:16px;
    color:#818692;
    text-transform: capitalize;
}
.subscribe .btn .button{
    width:100%;
    height: 100px;
    background-color: red;
}
.subscribe .button{
    margin-top:6px;
    margin-left:190px;
}
.subscribe .button form .button-style{
    width:248px;
    height:65px;
    border-radius: 10px 0px 0px 10px;
    padding-left:26px;
    background-color: #ffffff;
    box-shadow: none;
    border:none;
}

.subscribe .button form .button-style:focus{
    outline: none !important;
    border:none !important;
    border-style: none;
    box-shadow: none;
}

.subscribe .button form .button-style::placeholder{
    color:#dddddd;
    font-size: 16px;

}
.subscribe .subscribe-btn{
    position:relative;
}
.subscribe .subscribe-btn::after{
    position: absolute;
    font-weight: 900;
    content:"\f061";
    font-family: "Font Awesome 5 Free";
    color:#ffffff;
    right:11%;
    top:-45px;

}
.subscribe .subscribe-btn a{
    position:absolute;
    right:55px;
    top:-65px;
    width:150px;
    height:65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e94231;
    color:#ffffff;
    text-decoration: none;
    font-size:18px;
    font-weight: 600;
    border-radius:8px 8px 5px 5px;
}
/*subscribe section End now*/

/*fotter section start now*/
.fotter{
    padding:100px 0px;
    background-color: #030b24;
    width:100%;
}
.fotter .side-bar {
    width:100%;
    height:100px;
}
.fotter .side-bar ul li{
    list-style-type: none;
    float: left;
    margin: 0px 8px;
}
.fotter .side-bar ul li a{
    text-decoration: none;
}
.fotter .side-bar ul li a img{
    margin-left:-35px;
}
.fotter .side-bar ul li a .text{
    font-size:30px;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.fotter .sub-text p{
    color:#b4b6be;
    font-size: 16px;
    text-transform: capitalize;
    font-family:"Roboto",sans-serif;

}
.fotter .icon-add ul{
    padding-left:0px;
    margin-left: -18px;
}
.fotter .icon-add ul li{
    list-style-type: none;
    float: left;
    margin:10px 15px;
   
}
.fotter .icon-add ul li a{
    width:45px;
    height: 45px;
    border: 1px solid #22293f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#ffffff;
    font-size: 18px;
    text-decoration: none;
    line-height: 1;
    position: relative;
    
}
.fotter .icon-add ul li a .brands-icon{
   color: #ffffff;
   z-index: 44;
   line-height: 1;
}
.fotter .icon-add ul li a::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    transform: scale(0,0);
    color:#ffffff;
    transition: all 500ms ease-in-out;

}
.fotter .icon-add ul li a:hover::before{
    background-color: #ff4934;
    transform: scale(1,1);
 
}

.fotter  .text {
    margin-top:30px;
}
.fotter  .text h1{
    font-size: 22px;
    color:#ffffff;
    text-transform: capitalize;
}
.fotter .company-title ul{
    padding-left: 23px;
    padding-top:20px;
    
}
.fotter .company-title ul li{
    list-style-type: none;
    margin:16px 0px;
}


.fotter .company-title ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#b4b6be;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
    position: relative;
    transition: all 200ms ease-in;
}
.fotter .company-title ul li a:hover{
    color:#ff4934;
}
.fotter .company-title ul li a::after{
    position: absolute;
    content:"\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position:absolute;
    top:-4px;
    left:-25px;
    transition: all 200ms ease-in;

}
.fotter .company-title ul li a:hover::after{
    color:#ff4934;
}

.fotter .contacts-info ul{
    width:70%;
    padding-left: 30px;
    margin-top:45px;
}
.fotter .contacts-info ul li{
    list-style-type: none;
    color:#b4b6be;
    margin:20px 0px;
    position: relative;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    position: relative;
    transition: all 500ms ease-in-out;


}
.fotter .contacts-info ul li:hover{
    color: #ff4934;
}
.fotter .contacts-info ul li .location-icon{
    position: absolute;
    font-size:25px;
    color:#ffffff;
    top:0px;
    left:-32px;
    transform: rotate(-10deg);
    transition: all 500ms ease-in-out;
}
.fotter .contacts-info ul li:hover .location-icon{
    color: #ff4934;
}
.fotter .contacts-info ul li .email-icon{
    position: absolute;
    font-size:18px;
    color:#ffffff;
    top:1px;
    left:-32px;
    transition: all 500ms ease-in-out;
}
.fotter .contacts-info ul li:hover .email-icon{
    color: #ff4934;
}
.fotter .contacts-info ul li .twitter{
    position: absolute;
    font-size:18px;
    color:#ffffff;
    top:1px;
    left:-32px;
    transition: all 500ms ease-in-out;
}
.fotter .contacts-info ul li:hover .twitter{
    color: #ff4934;
}
/*fotter section End now*/

/*company logo*/
.company-logo{
    width: 100%;
    padding:25px 0px;
    background-color:#030b24;
    border-top: 1px solid #1c263a;
}
.company-logo .brands-text{
    text-align: center;
}
.company-logo .brands-text a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    color:#818592;
}
.company-logo .brands-text .text{
     text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    color:#818592;
}
/*company log end*/




