/*home page start now*/
/*responsive navbar top*/
.topnav {
    overflow: hidden;
    width: 100%;
    background-color:#000518;
}
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
.active {
    color: #ffffff;
}
.topnav .icon {
    display: none;
}
.dropdown-navbar {
    float: left;
    overflow: hidden;
}
.dropdown-navbar .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-weight: 600;
    margin: 0;   
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000825;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color:#ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown-navbar:hover .dropbtn {
    background-color: #000518;
    color: white;
}
.dropdown-content a:focus {
    background-color: #ddd transparent;
    color: black transparent;
}
@media screen and (max-width:992px) {
    .topnav a:not(:first-child), .dropdown-navbar .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .dropdown-content a{
        border-bottom:1px solid #ffffff;
        margin-left: 25px;
    }
    .dropdown-content a:last-child{
        border-style: none;
    }

}
@media screen and (max-width:992px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .talks-btn{
        float: none;
        display: none;
        text-align: left;
    }
    .topnav.responsive .dropdown-navbar {
        float: none;
    }
    .topnav.responsive .dropdown-content  {
        position: relative;
    }
    .topnav.responsive .dropdown-navbar .dropbtn{
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav .imgbox{
        position: relative;
        display: none;
    }
    .topnav .imgbox img{
        position: absolute;
        display: none;
        
    }
    .topnav .btn-area{
        display: block;
    }
    .topnav .btn-area .call-btns{
        display: none;

    }
    .topnav .btn-area .call-us{
        display: none;
    }
   
}
@media(min-width: 992px){
    .dropdown-navbar:hover .dropdown-content{
        display: block;
    }
}
@media only screen and (min-width:992px) and (max-width:1100px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#000518;

    }
    .topnav .imgbox{
        position: relative;
        
    }
    .topnav .imgbox img{
        position: absolute;
        left:-200px;
        top:-20px;
        
    }
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#ffffff;
        left:-160px;
        top:-20px;
    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
   
    .topnav .btn-area .call-us{
        position: absolute;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ffffff;
        float: left;
        left:240px;
        border-radius: 5px;
        width:130px;
        height: 50px;
        background-color: #ff4934;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 400ms ease-in-out;
        overflow: hidden;
    }
    .topnav .btn-area .talks-btn:hover{
        width:150px;

    }
    .topnav .btn-area .talks-btn::after{
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(255, 255,255,0.2);
        left:-150px;
        transition: all 500ms ease-in;
    }
    .topnav .btn-area .talks-btn::before{
        content: "\f061";
        position: absolute;
        font-weight: 900;
        font-size: 16px;
        left:90px;
        top:50px;
        font-family: "Font Awesome 5 Free";
        transform: rotate(0deg);
        transition: all 500ms ease-in-out;
    }
    .topnav .btn-area .talks-btn:hover::before{
        left:118px;
        transform: rotate(-45deg);
        top:14px;
    }
    .topnav .btn-area .talks-btn:hover::after{
        left:0px;
    }
    .topnav .btn-area .call-us{
        font-size: 20px;
        font-weight: 600;
        color:#ffffff;
    }
    .topnav .btn-area .call-us .call-btns{
        padding:10px 15px;
        display: inline-block;
        border-radius: 50%;
        margin-right:6px;
        background-color: #ff4934;
    }
}
@media only screen and (min-width:1100px) and (max-width:1300px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#000518;

    }
    .topnav .imgbox{
        position: relative;
        
    }
    .topnav .imgbox img{
        position: absolute;
        left:-200px;
        top:-20px;
        
    }
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#ffffff;
        left:-160px;
        top:-20px;
    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ffffff;
        float: left;
        left:240px;
        border-radius: 5px;
        width:130px;
        height: 50px;
        background-color: #ff4934;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 400ms ease-in-out;
        overflow: hidden;
    }
    .topnav .btn-area .talks-btn:hover{
        width:150px;

    }
    .topnav .btn-area .talks-btn::after{
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(255, 255,255,0.2);
        left:-150px;
        transition: all 500ms ease-in;
    }
    .topnav .btn-area .talks-btn::before{
        content: "\f061";
        position: absolute;
        font-weight: 900;
        font-size: 16px;
        left:90px;
        top:50px;
        font-family: "Font Awesome 5 Free";
        transform: rotate(0deg);
        transition: all 500ms ease-in-out;
    }
    .topnav .btn-area .talks-btn:hover::before{
        left:118px;
        transform: rotate(-45deg);
        top:14px;
    }
    .topnav .btn-area .talks-btn:hover::after{
        left:0px;
    }
    .topnav .btn-area .call-us{
        font-size: 20px;
        font-weight: 600;
        color:#ffffff;
    }
    .topnav .btn-area .call-us .call-btns{
        padding:10px 15px;
        display: inline-block;
        border-radius: 50%;
        margin-right:6px;
        background-color: #ff4934;
    }
   
}
@media only screen and (min-width:1300px) and (max-width:1600px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#000518;

    }

    .topnav .imgbox{
        position: relative;
        
    }
    .topnav .imgbox img{
        position: absolute;
        left:-300px;
        top:-20px;
        
    }
  
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#ffffff;
        left:-260px;
        top:-20px;

    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
        float: left;
        left: 320px;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ffffff;
        float: left;
        left:115%;
        border-radius: 5px;
        width:130px;
        height: 50px;
        background-color: #ff4934;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 400ms ease-in-out;
        overflow: hidden;
    }
    .topnav .btn-area .talks-btn:hover{
        width:150px;

    }
    .topnav .btn-area .talks-btn::after{
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(255, 255,255,0.2);
        left:-150px;
        transition: all 500ms ease-in;
    }
    .topnav .btn-area .talks-btn::before{
        content: "\f061";
        position: absolute;
        font-weight: 900;
        font-size: 16px;
        left:90px;
        top:50px;
        font-family: "Font Awesome 5 Free";
        transform: rotate(0deg);
        transition: all 500ms ease-in-out;

    }
    .topnav .btn-area .talks-btn:hover::before{
        left:118px;
        transform: rotate(-45deg);
        top:14px;
    }
    .topnav .btn-area .talks-btn:hover::after{
        left:0px;
    }
    .topnav .btn-area .call-us{
        margin-left: 120px;
        font-size: 20px;
        font-weight: 600;
        color:#ffffff;
    }
    .topnav .btn-area .call-us .call-btns{
        padding:10px 15px;
        display: inline-block;
        border-radius: 50%;
        margin-right:6px;
        background-color: #ff4934;
    }

   
}
@media only screen and (min-width:1600px) and (max-width:2000px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#000518;

    }

    .topnav .imgbox{
        position: relative;
        
    }
    .topnav .imgbox img{
        position: absolute;
        left:-300px;
        top:-20px;
        
    }
  
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#ffffff;
        left:-260px;
        top:-20px;

    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
        float: left;
        left: 320px;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ffffff;
        float: left;
        left:115%;
        border-radius: 5px;
        width:130px;
        height: 50px;
        background-color: #ff4934;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 400ms ease-in-out;
        overflow: hidden;
    }
    .topnav .btn-area .talks-btn:hover{
        width:150px;

    }
    .topnav .btn-area .talks-btn::after{
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(255, 255,255,0.2);
        left:-150px;
        transition: all 500ms ease-in;
    }
    .topnav .btn-area .talks-btn::before{
        content: "\f061";
        position: absolute;
        font-weight: 900;
        font-size: 16px;
        left:90px;
        top:50px;
        font-family: "Font Awesome 5 Free";
        transform: rotate(0deg);
        transition: all 500ms ease-in-out;

    }
    .topnav .btn-area .talks-btn:hover::before{
        left:118px;
        transform: rotate(-45deg);
        top:14px;
    }
    .topnav .btn-area .talks-btn:hover::after{
        left:0px;
    }
    .topnav .btn-area .call-us{
        margin-left: 120px;
        font-size: 20px;
        font-weight: 600;
        color:#ffffff;
    }
    .topnav .btn-area .call-us .call-btns{
        padding:10px 15px;
        display: inline-block;
        border-radius: 50%;
        margin-right:6px;
        background-color: #ff4934;
    }

   
}
/*navbar Responsive navbar*/

/*home page Responsive start*/
@media only screen and (min-width:349px) and (max-width:601px){
    .banner .title h1{
        font-size: 30px;
        text-align: center;
    }
    .banner .banner-title .banner-item{
        display: none;
    }
    .banner .mike-banner{
        display: none;
    }
    .banner .banner-title .single-banner{
        display: none;
    }
    .banner .smart-phone{
        display: none;
    }
    .banner .single-text .text{
        font-size: 16px;
        text-align: center;
    }
    .banner .banner-title{
        padding-top:30px;
    }
    .banner .graph-img{
        display: none;
    }
    .banner .banner-btn{
        padding: 30px 0px;
        margin:0 auto;
    }
    .about-us .img-box img{
        display: flex;
        margin:0 auto;
    }
    .about-us .shape img{
        left: 39%;
        top: -68px;
    }
    .fancy-box .fancy-title h1{
        font-size:30px;
    }
    /*about us area*/
    .about-us .text a{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-us .text{
        margin-top: 120px;
    }
    .about-us .title h1{
        font-size: 30px;
        text-align: center;
    }
    .about-us .text .txt{
        text-align: center;
    } 
    .about-us .about-btn{
        padding-top:36px;
        margin:0 auto;
    }
    .about-us .shape-area img{
        display: none;
    }
    .about-us .img-box-one{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:60px;
    }
    /*about us End*/

    /*digital merketing*/
    .about-us .Digital-merketing{
      display: none;
    } 
    .service .shape-to img{
        top:-52px;
        left:80%;
    }
    .service .shape .shape-parallax{
        display: none;
    }
    .service .title h1{
        font-size: 30px;
    }
    .service .title h2{
        font-size: 30px;
    }

    /*digital marketing*/

    /*chosse-us*/
    .choose-us .choose-title h3{
        text-align: center;
    }
    .choose-us .head-text h1{
        width:100%;
        font-size: 30px;
        text-align: center;
        margin-top:15px;
    }
    .choose-us .single-text p {
        width: 100%;
    }
    .choose-us .choose-shape img {
        top: 2px;
        right: 30px;
    }
    .choose-us .choose-shape{
        margin-top: 40px;
    }
    
    /*chosse-us*/

    /*testimonials area*/
    .testimonials .text p{
        text-align: center;
    }
    .testimonials .text h1{
        text-align: center;
        font-size: 30px;
    }
    /*testimonials End*/

    .fancy-box .text h1 {
       font-size: 30px;
    }
  
    /*work process area*/
    .work-process .single-text h1{
        font-size: 30px;
    }
    .work-process #procces{
        padding-top: 110px;
    }
    .work-process .work-blog .single-blog .null{
        top:-98px;
    }
    /*work process area end now*/

    /*articles part start now*/

    .articles .title h2{
        font-size: 30px;
    }
    .articles .shape-two img {
        position: absolute;
        left: 83%;
        top: -5px;
    }
    .articles .shape img {
        position: absolute;
        left: 20px;
        top:-90px;
    }
    .articles #articles{
        margin-top: -150px;
    }
    
    /*articles part End now*/

    /*fotter and subcribe start*/

    .subscribe .title{
        padding-top:25px;
    }
    .subscribe .title h3{
        font-size: 38px;
        text-align: center;
    }
    .subscribe .title .text{
        margin-left: 6px;
    }
    .subscribe .button form .button-style {
        width: 180px;
    }
    .subscribe form .submit-btn {
        left: 180px;
        
    }
    .subscribe .title h3{
        font-size: 38px;
    }
    .subscribe .button form .button-style {
        width: 180px;
    }
    .subscribe form .submit-btn {
        left: 179px;
        
    }
    .subscribe .button {
        margin-top: 36px;
        margin-left: 10px;
    }

    .fotter .text{
        margin-left: 39px;
    }
    .fotter .icon-add ul{
        padding-left: 44px;
    }
    .fotter .company-title ul{
        margin-left: 40px;
    }
    .fotter .contacts-info ul{
        margin-left: 35px;
    }
   
    .fotter .icon-add ul li {
        margin: 10px 8px;
    }
    .fotter .sub-text p{
        padding-left: 40px;
    }
    .fotter .side-bar ul li a .text{
        margin-left:-8px;
    }
    .fotter .side-bar ul li a img {
        margin-left: 0px;
    }

    /*fotter and subscribe End*/
   
}
@media only screen and (max-width:768px){
    .articles .blog .single-blog .sub-title{
        padding-bottom: 5px;
    }
    .articles .blog .single-blog .list ul li .text{
        font-size:12px;
    }
    .articles .blog .single-blog .list ul li a{
        font-size: 12px;
    }
   .articles .blog .single-blog .list ul li{
        margin: 0px 3px;
   }
   .articles .blog .single-blog{
       margin-top:-82px;
   }
   .articles .blog .single-blog .sub-title h2{
        font-size: 18px;
   }
   .articles .blog .single-blog .date-text P{
        font-size: 10px;
   }
   .articles .blog .single-blog {
        width:90%;
        padding-left: 17px;
        padding-top: 20px;
        padding-right: 20px;
        margin-top: -76px;
        margin-left: 13px;
      
    }
    .choose-us .choose-imgbox img {
        width: 92%;
        height: auto;
        position: relative;
        margin-top: -71px;
        margin-left: 0px;
        z-index: 145;
    }
    
}
@media only screen and (min-width:601px) and (max-width:992px){
  
    .banner .smart-phone{
        display: none;
    }
    .banner .graph-img{
        display: none;
    }
    .choose-us .choose-shape{
        margin-top:50px;
    }
    .testimonials .text p{
        text-align: center;
    }
    
    .testimonials .text h1{
        text-align: center;
        font-size: 40px;
    }
    .about-us .img-box-one{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-us .shape-area img{
        left: 80px;
    }
    .service .shape-to img{
        top:-25px;
        right: 4%;
    }
    .service .shape .shape-parallax{
       display: none;
    }
    .work-process #procces{
        padding-top: 110px;
    }
    .articles #articles{
        margin-top: -150px;
    }
    .articles .shape-two img{
        top:-15px;
    }
    .articles .shape img{
        top:-50px;
        left:-25px;
    }
    .articles .title h2{
        font-size: 40px;
    }
 
    .subscribe .title h3{
        font-size: 40px;
    }
}
@media only screen and (min-width:991px) and (max-width:1201px){
    .banner .graph-img{
        display: none;
    }
    .subscribe .button{
        margin-left: 40px;
    }

}
@media only screen and (min-width:1201px) and (max-width:1401px){
   
    .subscribe .button {
        margin-top: 6px;
        margin-left: 170px;
    }
    .work-process .work-blog .single-blog .null{
        top:-98px;
    }
}
/*home page End now*/

/*about pages start now*/
@media only screen and (min-width:349px) and (max-width:601px){
        
    .about-company .shape img {
        left: 20%;
    }
    .Digital-merketing .title-text p{
        font-size: 16px;
        text-align: center;
    }
    .Digital-merketing .sub-title h2{
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
    .Digital-merketing .text p{
        font-size: 14px;
        text-align: center;
        padding-top: 25px;
        width: 100%;
    }
    .Digital-merketing .single-text p{
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    .Digital-merketing .digital-btn {

        margin: 0 auto;
    }
    .service .shape img {
        position: absolute;
        top: -100px;
        left: 0px;
    }
    .service .shape-to img {
        position: absolute;
        right: 8%;
        top: -251px;
    }
    .service .title h1{
        font-size: 30px;
        text-align: center;
    }
    .service .title h2{
        font-size: 30px;
        text-align: center;
    }
    .Digital-merketing .img-box{
        width:auto;
    }
    .fancy-box .text h1{
        font-size: 30px;
        text-align: center;
    }
    .fancy-box .fancy-box-btn .fancy-play-btn{
        margin-top: 20px;
    }
    .Experience .sub-title h2{
        font-size: 28px;
    }
    .Experience .sub-title h3{
        font-size: 28px;
    }
    .Experience .img-area{
        margin-top:20px;
        display: flex;
        justify-content: center;

    }
    .Experience .link-area .plus-icon {
        margin-left: 62%;
        margin-top: -60px;
        position: relative;
        z-index: 44555;
        color: #ffffff;
    }
  
}
@media only screen and (min-width:601px) and (max-width:993px){
    .Experience .sub-title h2{
        font-size:30px;
    }
    .Experience .sub-title h3{
        font-size:30px;
    }
    .Experience .single-bolg .img-area{
        margin-top:30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subscribe .title h3{
        font-size: 40px;
    }
    
}
@media only screen and (min-width:992px) and (max-width:1200px){
    .Experience .link-area .plus-icon{
        width:55px;
        height: 55px;
        margin-left: 66%;
    }
    .Experience .link-area .plus-icon .link-item {
        position: absolute;
        top: -160px;
        left: 8px;
        width: 50px;
        height: 150px;

    }
    .Experience .link-area .plus-icon .link-item ul {
        padding-left: 0px;
        padding-top: 10px;
       
    }
    .Digital-merketing .img-area img{
        margin-top:-65px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1400px){
    .Digital-merketing .img-area img{
        margin-top:-58px;
    }
}
/*about page End now*/
/*blog-details page start now*/

/*main section responsive start now*/
@media only screen and (min-width:349px) and (max-width:601px){
    .about-company .shape img {
        left: 20%;
    }
    .blog .details-title h3{
        text-align: center;
        font-size: 30px;
    }
    .blog .detail-subtitle p{
        text-align: center;
        font-size: 14px;
    }
  
    .blog .detail-tags .single-detais .single-list ul li{
       margin:6px 5px;

    }
    .blog .detail-tags .single-detais .single-list ul{
        width:100%;
        margin-left:0px;
    }
    .blog .detail-tags .single-detais{
        width: 100%;
    }
    .blog .detail-tags .single-detais-sub{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }
    .blog .single-detais-sub .contacts-details ul li{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .blog .achive-date .single-achive .sub-achives{
        width: 30%;
    }
    .blog .achive-date .single-achive{
        margin: 10px 0px;
    }
    .blog .review .single-review{
        width:30%;
    }
    .blog .review .sub-review{
        width:70%;
    }
    .blog .single-title p{
        font-size: 12px;
        padding-left: 0px;
    }
   .blog .reply-area a{
        margin-left: 16%;
   }
    .subscribe .title h3{
        font-size: 38px;
    }
    .subscribe .button form .button-style {
        width: 180px;
    }
    .subscribe form .submit-btn {
        left: 180px;
        
    }

    .blog .main-review{
        padding-left:60px;
        padding-top: 100px;
    }

}
@media only screen and (min-width:601px) and (max-width:800px){
    .blog .detail-tags .single-detais {
        width: 100%;
    }
    .blog .detail-tags .single-detais .single-list ul li {
        margin: 6px 10px;
    }
    .blog .single-detais-sub .contacts-details ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blog .detail-tags .single-detais-sub {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

}
@media only screen and (max-width:576px){
    #preccest{
        padding-top:120px;
    }
}

@media only screen and (min-width:799px) and (max-width:1400px){
    .blog .detail-tags .single-detais .single-list ul li{
        margin-bottom:25px;
    }
    .blog .single-detais-sub .contacts-details ul li{
        margin-bottom:25px;
    }
}
@media only screen and (min-width:501px) and (max-width:575px){
    .blog .achive-date .single-achive .sub-achivess{
        margin-left:-15px;
    }
    .blog .achive-date .sub-achivess .title h4{
        font-size: 18px;
    }
}
/*blog-detais page End now*/

/*blog page start now*/
@media only screen and (min-width:991px) and (max-width:1404px){
    .blog .Recent-sub-title .recent-titles{
        font-size: 16px;
    }
    .choose-us .choose-imgbox img {
        width: 92%;
        margin-left:0px;
        margin-top: -121px;
       
    }

}
@media only screen and (max-width:768px){
    .blog .img-box img{
        margin-top:60px;
    }
}
/*blog page End now*/

/*cart page start now*/
@media only screen and (min-width:350px) and (max-width:600px){
   .about-company .shape img {
        position: absolute;
        top: -289px;
        left: 22%;
    }
    .add-to-cart form table thead tr th {
        max-width:  20%;
        padding-left: -15px;
        font-size: 14px;
        font-family: "Roboto",sans-serif;
        color: #ffffff;
    }
    .add-to-cart form table tbody tr td {
        width:26%;
        text-align: left;
        font-size: 12px;
        height: 120px;
    }
    .add-to-cart .Quantity input {
        width: 160px;
        height: 60px;
    }
    .add-to-cart .Quantity button {
        width: 150px;
        height: 60px;
        left: 170px;
       
    }
    .cart-count .sub-count .text{
        width:70%;
        float: left;
    }
    .cart-count .sub-count .text-dollars{
        width:30%;
        float: left;
    }
    .products .products-title h2{
        font-size: 38px;
    }
    .products #produts{
        margin-top: 40px;
    }
    .products #mb-20{
        margin-top: 40px;
    }
    #summer-products{
        color: transparent;
    } 
}
@media only screen and (min-width:600px) and (max-width:851px){
   .about-company .shape img {
        top: -280px;
        left: 33%;
    }
    .add-to-cart form table thead tr th {
        font-size: 20px;
    }
    .add-to-cart form table tbody tr td {
        width:27%;
        font-size: 12px;
        height: 120px;
    }
    .add-to-cart .Quantity button {
        left: 345px;

    }
    .products #produts{
        margin-top: 60px;
    }
    .products .content .sub-title p .text {
        right: 44%;
    }
    .subscribe .title h3 {
        font-size: 40px;
    }
    .fotter .side-bar ul li a .text{
        margin-left: -9px;
    }
    .products #preducst{
        margin-top: 60px;
    }
    .products .content .sub-title p .text {
        right: 215px;
    }
}
@media only screen and (max-width:768px){
    #preducsts{
        margin-top:60px;
    }
}
@media only screen and (max-width:992px){
    #preducsts{
        margin-top:57px;
    }
    .service .single-title{
        width:80%;
    }
    .fotter .icon-add ul li{
        margin: 10px 6px;
    }
    .contacts-area .img-box img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .blog .search-btn{
        margin-top:15px;
    }
    #mb-20{
        margin-top:60px;
    }
}
@media only screen and (min-width:851px) and (max-width:992px){
   .about-company .shape img {
        position: absolute;
        top: -260px;
        left: 39%;
    }
    .add-to-cart form table thead tr th {
        font-size: 20px;
    }

    .add-to-cart form table tbody tr td:has(img){
       
    }
    .add-to-cart form table tbody tr td {
        width:20%;
        font-size: 16px;
        height: 120px;
    }
  
    .add-to-cart .Quantity button {
        left: 355px;

    }
    .products #preducst{
        margin-top:60px;
    }
    .products #produts{
       margin-top:60px;
    }
    .products .content .sub-title p .text {
        right: 44%;
    }

    .products .content .sub-title p .text {
        right: 120px;
    }
}
@media only screen and (min-width:992px) and (max-width:1201px){
    .about-company .shape img {
        left: 47%;
    }
    .add-to-cart form table thead tr th {
        font-size: 20px;
       
    }
    .add-to-cart form table tbody tr td {
        font-size: 18px;
    }
    .add-to-cart .Quantity button {
        left: 330px; 
    }
    .cart-count .sub-count .text-dollars {
        width: 20%;
    }
    .cart-count .sub-count .text {
        width: 80%;
    }
    .products .content .sub-title p .text {
        right: 70px;
    }
    .service .single-title{
        width:70%;
    }
  
}
@media only screen and (min-width:1201px) and (max-width:1401px){
    .add-to-cart .Quantity button { 
        left: 340px;
    }
    .subscribe .button {
        margin-top: 6px;
        margin-left: 70px;
    }
    .products .content .sub-title p .text {
        right: 90px;
    }
}

@media only screen and (min-width:1401px) and (max-width:1551px){
    .add-to-cart .Quantity button { 
        left: 410px;
    }
  
}
/*cart page End now*/

/*contact-us page start now*/
@media only screen and (min-width:349px) and (max-width:601px){
    .about-company .shape img {
        left: 20%;
    }
    .contacts-area .contacts-title h2{
        text-align: center;
        margin-top:30px;
        font-size: 30px;
    }
    
    .contacts-area .contacts-title p{
        text-align: center;
        font-size: 14px;
    }
    .contacts-area .contact-list form button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .blog .category .category-item:hover{
        transform: translateX(8px);
    }
    .shop-blog .category .category-item{
        transform: translateX(8px);
    }
  
}
@media only screen and (min-width:601px) and (max-width:992px){
    .about-company .shape img {
        left: 27%;
    }
    .contacts-area .contacts-title h2{
        text-align: center;
        margin-top:30px;

    }
    .contacts-area .contacts-title p{
        text-align: center;
    }
    .contacts-area .contact-list form button{
        margin-top:15px;
    }

    .subscribe .button{
        margin-left: 0px;
        margin-top:40px;
    }
    .subscribe .title h3{
        font-size: 40px;
    }
    .blog .review .single-review .img-review img{
        margin-left:-6%;
    }

}
@media only screen and (min-width:992px) and (max-width:1201px){
    .about-company .shape img {
        left: 48%;
    }
    .subscribe .button{
        margin-left: 70px;
    }
}
/*contacts page End now*/

/*service page start now*/
@media only screen and (min-width:349px) and (max-width:601px){
    .about-company .shape img {
        left: 20%;
    }
    .service .title h1{
        font-size: 30px;
    }
    .service .title h2{
        font-size: 30px; 
    }
    .service .shape-to img {
        right: 8%;
        top: -70px;
    }
    .service .shape img {
       display: none;
    }
    .subscribe .title h3{
        font-size: 38px;
    }
    
    .testimonials .item .sub-text-area p {
        font-size: 16px;
    }
    .testimonials .item .list-item ul {
        position: absolute;
        right: 0px;
    }
    .testimonials .text h1{
        font-size: 30px;
        text-align: center;
    }
    .testimonials .text p{
        text-align: center;
    }
    .testimonials .shape-imgbox img {
        position: absolute;
        top: -150px;
        right:10px;
    }
  
}
@media only screen and (min-width:601px) and (max-width:992px){
    .about-company .shape img {
        left: 27%;
    }
    .service .shape img {
        position: absolute;
        top: -70px;
        left: -30px;
    }
    .service .shape-to img {
        position: absolute;
        right: 8%;
        top:-10px;
    }
    .testimonials .item .sub-text-area p{
        width: 100%;
        font-size: 16px;
    }

}
@media only screen and (min-width:992px) and (max-width:1201px){
    .about-company .shape img {
        left: 48%;
    }
    .subscribe .button {
        margin-top: 6px;
        margin-left: 70px;
    }
}
/*service page End now*/

/*shop page start now*/
@media only screen and (min-width:349px) and (max-width:601px){
    .about-company .shape img {
        left: 20%;
    }
    .shop-blog .shop-select form select {
        width: 150px;
        margin-right: 0.4em;
    }
    .shop-blog .shop-select {
        margin-top: -100px;
        margin-left: 9px;
    }
    .shop-blog .shop-text p{
        width:40%;
    }
    .shop-blog .text h6{
        text-align: center;
    }
    .shop-blog .img-shop img{
        width: 100%;
    }
    .shop-blog .content{
        width: 100%;
    }
    .shop-blog .product-icon ul{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:10px;
    }
    .shop-blog .demo-text p{
        text-align: center;
        margin-top:-15px;
    }
    .shop-blog .revies-title h2{
        text-align: center;
    }

}
@media only screen and (min-width:601px) and (max-width:992px){
    .about-company .shape img {
        left: 27%;
    }
    .shop-blog .shop-text {
        margin-bottom: -60px;
    }
    .shop-blog .recent-img {
        padding-top: 50px;
        display: flex;
        justify-content: left;
        margin-left: 25px;
    }
}
@media only screen and (min-width:575px) and (max-width:992px){
    .shop-blog .text h6{
        font-size: 14px;
    }
    .shop-blog .text{
        padding-top: 48px;
    }
}
@media only screen and (min-width:992px) and (max-width:1201px){
    .about-company .shape img {
        left: 48%;
    }
    .shop-blog .recent-img {
        padding-top: 43px;
        display: flex;
        justify-content: left;
        margin-left: -10px;
    }
    .shop-blog .input-group #max-input{
        margin-left: 20px;   
    }
    .soical-contacts .social-sub .contatcs-ares{
        margin-left:8px;
    }
}
@media only screen and (min-width:992px) and (max-width:1401px){
    .fotter .icon-add ul li{
        margin: 10px 5px;
    }
}
/*shop page End now*/